* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  background-color: #171C2D;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links {
  display: flex;
}

a {
  text-decoration: none;
  color: #EAB56F;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  margin: 0.5em;
  border: 1px solid #EAB56F;
  padding: 1em;
  font-size: 20px;
  transition-duration: 0.3s;
  min-width: 150px;
  min-height: 100px;
}

.link:hover {
  background-color: #EAB56F;
  transition-duration: 0.3s;
  color: #171C2D;
}

#time {
  font-size: 34px;
  font-weight: 600;
  color: #EAB56F;
  margin-top: 25px;
}

.logo {
  color: #EAB56F;
  font-size: 60px;
  border: 2px solid #EAB56F;
  padding: 30px 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.logo i {
  margin: 0;
  padding: 0;
  margin-left: -3px;
  margin-top: -3px;
}